*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Container1{
    height: 500px;
    width: 500px;
    background-color: rgb(45, 41, 41);
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
}
.star{
    height: 100px;
    width: 100px;
    background-color: rgb(65, 70, 73);
    border-radius: 50%;
    margin: 20px;
    text-align: center;
}
.starimage{
    height: 50px;
    margin-top: 20px;
}
.heading{
    margin-top: 20px;
    color: #fff;
}
.paragraph{
    margin-top:20px;
    color: #fff;
}
.numbers{
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 545%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roundcontainers{
    display: flex;
    gap: 45px;
    margin: 25px;
}
.btn{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(226, 107, 9);
}