*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    padding: 50px;
    column-gap: 30px;
    row-gap: 1px;
    
}
.container-1{
    background-color: blueviolet;
    border-radius: 10px;
    height: 250px;
    width: 600px;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.Graduate{
    display: flex;

}
.cliford{
    height: 20px;
    width: 20px;

}
.para1{
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.paragraph1{
    font-weight: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #262323;
}
.container-2{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #3e4859;
    height: 260px;
    width: 320px;
    border-radius: 10px;
    margin-right: 100px;
}
.Walters{
    display: flex;

}
.Jonathan{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.para2{
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.paragraph2{
    font-weight: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#c3cad6;
}
.container-3{
    color: rgb(94, 91, 91);
    background-color:#e1e7f0;
    height: 550px;
    width: 325px;
    border-radius: 20px;
    margin-left: 20px;
}
.whittle{
display: flex;
}
.kira{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.para3{
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#595a5c;
}
.paragraph3{
    font-weight: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#595a5c;
}
.container-4{
    color: rgb(94, 91, 91);
    background-color: rgba(224, 232, 232, 0.822);
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.jeanette{
    display: flex;
}
.Harrmon{
    height: 30px;
    width: 30px;
    margin: 10px;

}
.para4{
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #595a5c;
}
.paragraph4{
    font-weight: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #595a5c;
}
.container-5{
    background-color: #0f1e36;
    height: 250px;
    width: 580px;
    border-radius: 20px;
    color: #bcc2cc;
}
.abhraham{
    display: flex;

}
.patrick{
    height: 10px;
    width: 10px;
    margin: 20px;
}
.para5{
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.paragraph5{
    font-weight: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3d9e4;
    justify-content: center;
}